on:
  # Trigger the workflow on push,
  # but only for the main branch
  push:
    branches:
      - master
  schedule:
    - cron: "00 00 * * *"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        run: node index.js
      - uses: EndBug/add-and-commit@v7 # You can change this to use a specific version
        with:
          add: "unicorns.json"
          author_name: Shubham Garg
          author_email: shubhamgrg04@gmail.com
          default_author: user_info
          message: "updating unicorns.json using github actions"
